server_side/server_side/dashboard/nodered_flow.json
[
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "ESP32 MQTT Broker",
        "broker": "192.168.1.86",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4"
    },
    {
        "id": "LS1_in",
        "type": "mqtt in",
        "z": "flow1",
        "name": "LS1",
        "topic": "water/LS1",
        "qos": "0",
        "broker": "mqtt_broker",
        "x": 120,
        "y": 60,
        "wires": [["LS1_text","csv_logger"]]
    },
    {
        "id": "LS2_in",
        "type": "mqtt in",
        "z": "flow1",
        "name": "LS2",
        "topic": "water/LS2",
        "qos": "0",
        "broker": "mqtt_broker",
        "x": 120,
        "y": 100,
        "wires": [["LS2_text","csv_logger"]]
    },
    {
        "id": "LS3_in",
        "type": "mqtt in",
        "z": "flow1",
        "name": "LS3",
        "topic": "water/LS3",
        "qos": "0",
        "broker": "mqtt_broker",
        "x": 120,
        "y": 140,
        "wires": [["LS3_text","csv_logger"]]
    },
    {
        "id": "temperature_in",
        "type": "mqtt in",
        "z": "flow1",
        "name": "Temperature",
        "topic": "water/temperature",
        "qos": "0",
        "broker": "mqtt_broker",
        "x": 140,
        "y": 180,
        "wires": [["temperature_gauge","csv_logger"]]
    },
    {
        "id": "TDS_in",
        "type": "mqtt in",
        "z": "flow1",
        "name": "TDS",
        "topic": "water/tds",
        "qos": "0",
        "broker": "mqtt_broker",
        "x": 140,
        "y": 220,
        "wires": [["TDS_gauge","csv_logger"]]
    },
    {
        "id": "mode_in",
        "type": "mqtt in",
        "z": "flow1",
        "name": "System Mode",
        "topic": "water/system/mode",
        "qos": "0",
        "broker": "mqtt_broker",
        "x": 140,
        "y": 260,
        "wires": [["mode_led","csv_logger","manual_mode_flag"]]
    },
    {
        "id": "LS1_text",
        "type": "ui_text",
        "z": "flow1",
        "group": "dashboard_group",
        "order": 1,
        "width": 2,
        "height": 1,
        "name": "LS1 Status",
        "label": "LS1",
        "format": "{{msg.payload}}",
        "x": 350,
        "y": 60,
        "wires": []
    },
    {
        "id": "LS2_text",
        "type": "ui_text",
        "z": "flow1",
        "group": "dashboard_group",
        "order": 2,
        "width": 2,
        "height": 1,
        "name": "LS2 Status",
        "label": "LS2",
        "format": "{{msg.payload}}",
        "x": 350,
        "y": 100,
        "wires": []
    },
    {
        "id": "LS3_text",
        "type": "ui_text",
        "z": "flow1",
        "group": "dashboard_group",
        "order": 3,
        "width": 2,
        "height": 1,
        "name": "LS3 Status",
        "label": "LS3",
        "format": "{{msg.payload}}",
        "x": 350,
        "y": 140,
        "wires": []
    },
    {
        "id": "temperature_gauge",
        "type": "ui_gauge",
        "z": "flow1",
        "group": "dashboard_group",
        "order": 4,
        "width": 3,
        "height": 2,
        "name": "Water Temp",
        "label": "°C",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": 100,
        "x": 350,
        "y": 180,
        "wires": []
    },
    {
        "id": "TDS_gauge",
        "type": "ui_gauge",
        "z": "flow1",
        "group": "dashboard_group",
        "order": 5,
        "width": 3,
        "height": 2,
        "name": "TDS Value",
        "label": "ppm",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": 2000,
        "x": 350,
        "y": 220,
        "wires": []
    },
    {
        "id": "mode_led",
        "type": "ui_led",
        "z": "flow1",
        "group": "dashboard_group",
        "order": 6,
        "width": 2,
        "height": 1,
        "label": "Mode AUTO/MANUAL",
        "colorForTrue": "green",
        "colorForFalse": "red",
        "x": 350,
        "y": 260,
        "wires": []
    },
   
    {
        "id": "manual_mode_flag",
        "type": "change",
        "z": "flow1",
        "name": "Set manual flag",
        "rules": [
            {"t":"set","p":"manual","pt":"flow","to":"payload","tot":"msg"}
        ],
        "x": 550,
        "y": 260,
        "wires":[]
    },
    {
        "id": "pump1_on",
        "type": "ui_button",
        "z": "flow1",
        "name": "Pump1 ON",
        "group": "dashboard_group",
        "order": 7,
        "width": 1,
        "height": 1,
        "label": "Pump1 ON",
        "topic": "water/control/pump1",
        "payload": "ON",
        "payloadType": "str",
        "x": 150,
        "y": 320,
        "wires": [["manual_mode_check"]]
    },
    {
        "id": "pump1_off",
        "type": "ui_button",
        "z": "flow1",
        "name": "Pump1 OFF",
        "group": "dashboard_group",
        "order": 8,
        "width": 1,
        "height": 1,
        "label": "Pump1 OFF",
        "topic": "water/control/pump1",
        "payload": "OFF",
        "payloadType": "str",
        "x": 150,
        "y": 360,
        "wires": [["manual_mode_check"]]
    },
    {
        "id": "manual_mode_check",
        "type": "switch",
        "z": "flow1",
        "name": "Manual mode only",
        "property": "flow.manual",
        "propertyType": "flow",
        "rules": [
            {"t": "eq","v": "MANUAL","vt": "str"},
            {"t": "else"}
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 340,
        "wires": [["pump1_out"],[]]
    },
    {
        "id": "pump1_out",
        "type": "mqtt out",
        "z": "flow1",
        "name": "Pump1 MQTT Out",
        "topic": "water/control/pump1",
        "qos": "",
        "retain": "",
        "broker": "mqtt_broker",
        "x": 550,
        "y": 340,
        "wires": []
    },
    {
    "id": "pump2_on",
    "type": "ui_button",
    "z": "flow1",
    "name": "Pump2 ON",
    "group": "dashboard_group",
    "order": 7,
    "width": 2,
    "height": 1,
    "label": "Pump2 ON",
    "bgcolor": "#00ff00",
    "topic": "water/control/pump2",
    "payload": "ON",
    "payloadType": "str",
    "x": 150,
    "y": 380,
    "wires": [["mqtt_out"]]
},
{
    "id": "pump2_off",
    "type": "ui_button",
    "z": "flow1",
    "name": "Pump2 OFF",
    "group": "dashboard_group",
    "order": 8,
    "width": 2,
    "height": 1,
    "label": "Pump2 OFF",
    "bgcolor": "#ff0000",
    "topic": "water/control/pump2",
    "payload": "OFF",
    "payloadType": "str",
    "x": 150,
    "y": 420,
    "wires": [["mqtt_out"]]
},
{
    "id": "valve1_open",
    "type": "ui_button",
    "z": "flow1",
    "name": "Valve1 OPEN",
    "group": "dashboard_group",
    "order": 9,
    "width": 2,
    "height": 1,
    "label": "Valve1 OPEN",
    "bgcolor": "#00ccff",
    "topic": "water/control/valve1",
    "payload": "OPEN",
    "payloadType": "str",
    "x": 150,
    "y": 460,
    "wires": [["mqtt_out"]]
},
{
    "id": "valve1_close",
    "type": "ui_button",
    "z": "flow1",
    "name": "Valve1 CLOSE",
    "group": "dashboard_group",
    "order": 10,
    "width": 2,
    "height": 1,
    "label": "Valve1 CLOSE",
    "bgcolor": "#999999",
    "topic": "water/control/valve1",
    "payload": "CLOSE",
    "payloadType": "str",
    "x": 150,
    "y": 500,
    "wires": [["mqtt_out"]]
},
{
    "id": "valve2_open",
    "type": "ui_button",
    "z": "flow1",
    "name": "Valve2 OPEN",
    "group": "dashboard_group",
    "order": 11,
    "width": 2,
    "height": 1,
    "label": "Valve2 OPEN",
    "bgcolor": "#00ccff",
    "topic": "water/control/valve2",
    "payload": "OPEN",
    "payloadType": "str",
    "x": 150,
    "y": 540,
    "wires": [["mqtt_out"]]
},
{
    "id": "valve2_close",
    "type": "ui_button",
    "z": "flow1",
    "name": "Valve2 CLOSE",
    "group": "dashboard_group",
    "order": 12,
    "width": 2,
    "height": 1,
    "label": "Valve2 CLOSE",
    "bgcolor": "#999999",
    "topic": "water/control/valve2",
    "payload": "CLOSE",
    "payloadType": "str",
    "x": 150,
    "y": 580,
    "wires": [["mqtt_out"]]
},
{
    "id": "mode_control_switch",
    "type": "ui_switch",
    "z": "flow1",
    "name": "System Mode Switch",
    "group": "dashboard_group",
    "order": 13,
    "width": 3,
    "height": 1,
    "label": "Mode (OFF=AUTO, ON=MANUAL)",
    "onvalue": "MANUAL",
    "onvalueType": "str",
    "offvalue": "AUTO",
    "offvalueType": "str",
    "x": 160,
    "y": 640,
    "wires": [
        [
            "mqtt_out"
        ]
    ]
},

    {
    "id": "csv_logger",
    "type": "function",
    "z": "flow1",
    "name": "CSV Logger",
    "func": "let timestamp = new Date().toISOString();\nmsg.payload = `${timestamp},${msg.topic},${msg.payload}\\n`;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 650,
    "y": 180,
    "wires": [["csv_file"]]
    },
    {
    "id": "csv_file",
    "type": "file",
    "z": "flow1",
    "name": "Save CSV",
    "filename": "/home/omnia/Desalination_Cooling_System/server_side/data/water_data.csv",
    "appendNewline": false,
    "createDir": true,
    "overwriteFile": "false",
    "encoding": "none",
    "x": 860,
    "y": 180,
    "wires": []
    }
    ,
    {
    "id": "mqtt_out",
    "type": "mqtt out",
    "z": "flow1",
    "name": "Main MQTT Out",
    "topic": "",
    "qos": "",
    "retain": "",
    "broker": "mqtt_broker",
    "x": 550,
    "y": 640,
    "wires": []
    }

]
